
#contact_modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color:rgba(196, 196, 196, 0.4);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    width: 85%;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#FAFAFA;

}

.info{
    width: 35%;
    padding-left: 25px;
   
}

.info h1{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
    color: #D3573C;
    margin-bottom: 0;
}

.info h2{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
    margin-top: 0;
}

.info p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
}

.picture{
    width: 65%;
    display: flex;
    align-items: center;
    height: 250px;
}
.containImg{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containImg img{
    height: 250px;
    width: 250px; 
    object-fit: cover;
    border-radius: 50%;
    
    
}
.contactButton{
    display: flex;
    width: 50%;
    justify-content: center;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    height: 968px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5% auto;
    overflow: hidden;
    position: relative;
}


.header_modal{
    width: 100%;
}

.namePhotographer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.namePhotographer img {
    cursor: pointer;
}

.title h2 , p {
    font-size: 55px;
    font-weight: normal;
    text-align: left;
}

.title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.title h2{
    margin-bottom: 1px;
}

.title p{
    margin-top: 1px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    font-size: 20px;
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photograph_media{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 30px;
    padding: 0;
    margin: 85px 0 0 100px;
  
}

.photograph_media article{
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%; 
}


.photograph_media article video{
    width: 100%;
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
}

.photograph_media article img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
}

.titleMedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.titleMedia h2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: #911C1C;
    width: 80%;
}

.containerLike{

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #911C1C;
    text-align: right;
    width: 20%;
}

.fa-heart{
    color: #911C1C;
}

.encart{
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 20px;
    width: 300px;
    height: 70px;
    background: #DB8876;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}

.encart p{
    font-weight: 500;
    font-size: 24px;
    margin-right: 20px;
    margin-left: 20px;
}

.encart div{
   display: flex;
   align-items: center;
   width: 50%;
   height: 70px;
}

.encart div p{
    margin-right: 4px;
}

.encart div i{
    color: black;
    font-size: 1.25rem;
}

#message{
    border-radius: 5px;
}

textarea{
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    width: 100%;
    height: 200px;

}

.formDataError[data-error]::after {
    content: attr(data-error);
    font-size: 15px;
    color: #901C1C;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }
.formDataError[data-error-visible="true"]::after {
    opacity: 1;
}
.formDataError[data-error-visible="true"] .text-control {
    border: 2px solid #901C1C;
}


.lightbox{
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    padding-top: 40px;
    width: 100%;
    height: 100%;
    overflow: auto;  
    background-color:white; 
}

.containerLgth{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 60%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#closeLgth {
    font-size: 42px;
    cursor: pointer;
    color:#901C1C;
    width: 50px;
    border: none;
    background-color: white;
}

#closeWidth{
    position: absolute;
    top: 40px;
    padding: 0;
    right: 0;
    z-index: 10;
    width: 18%;
}


.slideMedia {
    width: 100%;
    height: 100%;
    display: none;
}

.slideMedia img, 
.slideMedia video{
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 5px;
}

.caption{
    margin-top: 1px;
    font-size: 24px;
    color:#901C1C;
}

#previous,
#next{
    cursor: pointer;
    position: absolute;
    font-size: 42px;
    color:#901C1C;
}

.arrows{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    height: 100px;
}

.arrowRight{
    width: 18%;
    height: 100px;
    right: 0;
    display: flex;
    align-items: center;
    
}

.arrowLeft{
    width: 18%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.buttonLike{
    border-style: none;
    background-color: white;
}


.sort{
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 40%;
    display: flex;
}
.trieTexte p{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}
.menuDeroulant{
    margin-top: 19px;
    margin-left: 20px;
}
.menuDeroulant span{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: right;
    color: #FFFFFF;
}
.menuDeroulant button{
    width: 150px;
    border-style: none;
    background: #911C1C;
}
.btnMenu{
    border-radius: 5px;
   
}
.btnMenu #menuTrie{
    margin-right: 20px;
}
.btnMenu .fa-solidfa-chevron-up{
    color: white;
}
#closeMenu{
    width: 60px;
    height: 47px;
    margin-top: 10px;
    margin-left: 28px;
    margin-right: 25px;
    color: #FFFFFF;
}
#listeSort li{
    width: 150px;
    border-bottom: solid #FFFFFF 1px;
}
.menuDeroulant ul li button{
    height: 57px;
    text-align: left;
}
#listeSort{
    list-style: none;
    width: 175px;
    height: 172px;
    margin-top: 5px;
    background: #911C1C;
    border-radius: 5px;
    padding-left: 18px;
    display: none;
}
#first{
    display: flex;
}

@media (max-width: 1041px){
    .photograph_media{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;

    }
    .photograph_media article{
        width: 40%;
    }
    .encart{
        width: 250px;
        height: 70px;
        left: 0;
    }
    
    .encart p{
        font-size: 20px;
    }
}

@media (max-width: 992px){
    .containImg img{
        height: 200px;
        width: 200px; 
        object-fit: cover;
        border-radius: 50%;  
    }

    .contact_button {
        font-size: 15px;
        width: 160px;
        height: 60px;  
    }
    .info h1{
        font-size: 30px;
        line-height: 50px;
    }
    
    .info h2{ 
        font-size: 20px;   
    }
    
    .info p{
        font-size: 15px; 
    }
}